body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
    position: relative;
    display: flex;
    flex-direction: column;

}

header {
    background-color: #fff;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 100000000000;
    position: sticky;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    align-items: center;
    box-shadow: 0 6px 10px rgba(223, 244, 224, 0.25), 0 10px 10px rgba(112, 112, 112, 0.167);
}


.header-bar-line {
    display: inline-block;
    /* margin-right: 30px; */
    margin: 10px 50px;
}


ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

nav ul li a, .login_title {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    size: 3vw;
}

main {
    padding: 20px;
    /* độ cao của header */
    position: relative;
    width: 90%;
    margin: auto;
}

.header-bar {
    display: none;
}

.fit-contents {
    width: 100%;
}

.img-cont {
    width: 50%;
    height: 100%;
}

.img-cont img {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #34b039;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    z-index: 10000000000000000000000000;
    position: fixed;
    width: 100%;
}

.footer-main {
    display: none;
    background-color: #34b039;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

button {
    border: none;
    background: #00000000;
}

.fa-bars {
    font-size: 30px;
    color: #34b039;

}

.box_logo {
    color: #34b039;
    text-align: center;
    margin-left: -100px;
    align-items: center;
}

.login_item {
    display: inline-block;
    opacity: 0.7;
    height: 5vh;
}

.login_link {
    display: flex;
}

.login_item:hover {
    opacity: 1;
    scale: 1.1;
}

.display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_nav, .item_nav-home {
    text-decoration: none;
    color: rgba(14, 19, 13, 0.747);
    margin: 0 10px;
    padding: 0 10px;
}

.item_nav:hover, .item_nav.active, .item_nav-home:hover, .item_nav-home.item_nav.active {
    color: #4CAF50;
}

.item_nav.current, .item_nav-home.current {
    color: #34b039;
}

.box_nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content-home {
    text-align: center !important;
    /* font-size: 20px !important; */
}

/* Thêm lớp nav-link để dễ dàng chọn các mục điều hướng */
.item_nav, .item_nav-home {
    text-decoration: none;
    color: black;
}

.item_nav.active,
.item_nav-home.active, .color-title {
    color: #4CAF50;
}

.item_nav.current {
    color: #34b039;
}

.hidden {
    display: none;
}

.home {
    background-color: rgb(255, 255, 255) !important;
}

.col-item {
    display: grid;
    /*  chia doi */
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}

.chatbox-icon {
    position: fixed;
    bottom: 100px;
    right: 50px;
    background-color: #57d55d;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    box-shadow: 0 6px 10px rgba(42, 43, 42, 0.25), 0 10px 10px rgba(59, 59, 59, 0.167);

}

.chatbox {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 100000000000;
    box-shadow: 0 6px 10px rgba(101, 101, 101, 0.25), 0 10px 10px rgba(112, 112, 112, 0.167);
}

.chatbox-header {
    background-color: #4CAF50;
    padding: 10px 10px 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox-header .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.chatbox-body {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    background-color: #fff0f5;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 80%;
}

.bot {
    background-color: #ffebcd;
    align-self: flex-start;
}

.user {
    background-color: #add8e6;
    align-self: flex-end;
}

.chatbox-footer {
    display: flex;
    padding: 10px;
    background-color: #5695ee;
}

.chatbox-footer input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}

.chatbox-footer button {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffb6c1;
    font-weight: bold;
}

.chatbox-footer button:hover {
    background-color: #ffebcd;
}

.home-item {
    width: 50%;
}

.content-g {
    text-align: justify !important;
}

.textarea {
    padding: 20px;
    color: #000;

}

.title-content, .title-tr {
    margin: 10px 0 0 10px;
}

.title-tr {
    font-style: italic;
    margin-top: 0;
}

.main-content {
    padding: auto;
}

/* @media cho laptop */
@media screen and (max-width: 1024px) {
    .img3 {
        width: 80%;
    }

    .header-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 10vh; */
    }

    .header-title {
        display: none;
    }

    .item_nav, .item_nav-home {
        margin: 0 5px;
    }

    .box_nav_header ul {
        margin-right: 30px
    }

    main {
        width: 100%;
        /* top: 10vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .image-about {
        /* width: 50%; */
    }
}

/* @media cho điện thoại TỪ 820px - 912px*/
@media screen and (max-width: 912px) {
    .header-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 10vh !important; */
    }

    .main-content {
        width: 100%;
    }

    .box_logo {
        margin-left: 0;
    }

    .login_title {
        display: none;
    }

    .item_nav, .item_nav-home {
        margin: 0 5px;
    }

    main {
        width: 100%;
        /* top: 10vh; */
        display: flex;
        align-items: center;
    }

    .image-about {
        /* width: 50%; */
    }

    .contact {
        width: 100%;
    }

    .contact-items {
        width: 100%;

    }

}

/* @media cho điện thoại */
@media screen and (max-width: 820px) {

    header {
        height: 10vh;
    }

    .header-bar {
        display: block;
        padding: 0 20px;
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
    }

    .login_item {
        margin-right: 20px;
    }

    .box_logo img {
        margin-left: 20px;
        margin-right: 0px !important;

    }

    main {
        /* width: 100%; */
    }

    #menu-bar {
        display: flex;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: #d2e1cf;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        display: none;
    }

    .box_nav_header ul li {
        padding: 10px 0;
        display: block;
        text-align: left;
    }

    .footer {
        display: none;
    }

    .footer-main {
        display: block;
    }

    .box-category-middle {
        align-content: stretch;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-category-item {
        width: 50% !important;
        margin: 10px 0;
    }
}